@media screen and (min-width:555px){
	.mini-nav ul{
		text-align:left;
	}
	.mini-nav {
    	width: 300px;
	}
}
@media screen and (min-width:1000px){
	.contact-center{
		margin-top:0;
		margin:0 auto;
		/* Quick fix */
		position: relative;
		top: -6px;
	}
	.account-module.inline-top li{
		margin-top:0;
	}
}
