/*
* Default Dijitul Opencart Theme
* Front End Development by Dijitul.
* Mobile first development
* Contents:
* 1: CSS Reset
* 2: Basic styles
* 3: Typography
* 4: Header/nav
* 5: Media Queries
*/
/*------------------------------------------------------------------------
	1: Basic CSS Reset
------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/* Prevent's any overflow on the x axis */
	overflow-x: hidden!important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
}
*{
	box-sizing:border-box;
}
.information-information #content ol {
	list-style: decimal;
	margin-bottom: 20px;
	margin-left: 32px;
	font-size: 16px;
	line-height: 22px;
}
.information-information #content ul {
	list-style: disc;
	margin-bottom: 20px;
	margin-left: 32px;
	font-size: 16px;
	line-height: 22px;
}
/*------------------------------------------------------------------------
	2: Basic style, changeable modules repeated on all themes
------------------------------------------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
	line-height: normal;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #595959;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee!important;
}
strong {
	font-weight: bold;
	color: #4d4d4d;
}
#top .glyphicon {
	width: 25px;
}
.title-spacing {
	margin-bottom: 20px;
}
button .glyphicon {
	font-size: 23px;
	color: #940000;
	position: absolute;
	top: 10px;
	left: 12px;
}
footer .glyphicon {
	width: 10px!important;
	font-size: 6.5px;
	color: #888888;
}
a:hover {
	text-decoration: none;
}
/* From default Bootstrap CSS */
a.thumbnail:focus, a.thumbnail:hover {
    border-color: #940000;
}
#content .list-unstyled a {
	transition: all 0.5s ease;
}
#content .list-unstyled a:hover {
	margin-left: 5px;
}
.dropdown-inner .list-unstyled {
    padding: 0 5px;
}
legend {
	font-size: 18px;
	margin-bottom: 15px;
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
	background-color: none;
	border: 0;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
	background-color: #ebebeb;
	border: 0;
}
.form-control {
    display: block;
    width: 60%;
    height: 42px;
}
.checkout-checkout .form-group input {
    width: 70%;
    margin-bottom: 5px;
}
select.form-control{
	width:100%;
}
/* Pulled from Bootstrap CSS */
.form-control:focus {
    border-color: #940000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(148, 0, 0, 0.3),0 0 8px rgba(148, 0, 0, 0.3)!important;
    box-shadow: inset 0 1px 1px rgba(148, 0, 0, 0.3),0 0 8px rgba(148, 0, 0, 0.3)!important;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Hover effect for menu items */
.dropdown a:hover {
	background-color: #940000!important;
}
 #menu li:hover {
	background-color: #940000!important;
}
#menu li.has-menu:hover{
	color:#940000;
	background: none !important;
}
/* Class pulled from default bootstrap.css */
/*.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    padding: 5px 0 24px 0;
    border-bottom-left-radius: 4px;
		margin-left: inherit;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.nav-tabs {
	margin-bottom: 0!important;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
.amount {
	float: left;
	font-size: 1.3em;
	line-height: 40px;
	padding: 0 5px 0 0;
	margin-bottom: 20px;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-repeat: repeat-x;
}
.dropdown-indicator .glyphicon {
  font-size: 14px!important;
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
}
.product-preview img {
	width: 190px;
}
.blend-background {
	background-color: #FFFFFF!important;
}
#map{
	width:100%;
	height:200px;
	display:block;
}
.contact-banner {
	height: auto;
 	background-color: #ebebeb;
	padding: 30px 0 0 0;
}
#contact_form input, #contact_form textarea {
    width: 100%;
}
.contact-banner form {
	margin-left: 0;
}
.contact-banner input[type=text] {
	height: 35px;
	padding: 0 0 0 8px;
	border: 0;
}
.contact-banner textarea {
	height: 90px;
	border: 0;
	resize: none;
	margin-bottom: 15px;
	margin-top: 10px;
	padding-left: 9px;
}
.contact-banner .textarea-pull {
    margin: -168px 0 0 200px;
}
.contact-banner input[type=submit] {
	width: 202px;
	height: 35px;
	background-color: #940000;
	color: #FFFFFF;
	font-size: 16px;
	border: 0;
	margin: 0 0 30px 0;
	transition: all 0.5s ease;
}
.contact-banner input[type=text]:focus,
 input[type=submit]:focus,
  textarea:focus,   {
	outline: 0;
}
.contact-banner input[type=submit]:hover {
	cursor: pointer;
	opacity: 0.8;
}
.contact-banner label {
	display: none;
}
.top-margin {
	margin: -2px 0 0 35px;
    border-left: 2px solid #cccccc;
}
.product-options {
	display: block;
}
.price-block h2:before {
	content: "Price: ";
}
.related h3 {
	font-size: 24px;
	font-family: 'OpenSans-Regular';
	margin-bottom: 20px;
}
.related .product-thumb {
	border: 0;
	box-shadow: none;
	max-height: none;
	margin-bottom: 0;
}
.related a {
	font-weight: normal !important;
	font-size: 18px;
}
.related .price {
	font-size: 18px !important;
}
.related .caption {
    height: 75px;
    min-height: 0!important;
}
.related {
	clear: both;
	padding: 30px 0 0;
}
/* Hover effect */
/* DOWNLOAD HERE: https://github.com/IanLunn/Hover */
/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* On hover pseudo effect */
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*------------------------------------------------------------------------
	3: Typography
------------------------------------------------------------------------*/
/* Bold font for use on headers and standout text */
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/OpenSans-Semibold.ttf');
}
/* Regular font for paragraphed content */
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans-Light.ttf');
}
/* Applied fonts */
h3 {
	font-family: 'OpenSans-Bold';
	font-size: 22px;
	font-weight: lighter;
	line-height: 28px;
}
.product-title {
	width: 100%;
	height: 45px;
	padding: 15px;
	font-weight: bold;
	margin: 0 0 46px 0;
}
p {
	color: #4d4d4d;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
}
/* Button font */
button, .buttons, .btn {
	font-family: 'OpenSans-Regular';
}
/* used for highlighting */
highlight-span {
	color: #940000;
}
#menu li {
	font-family: 'OpenSans-Bold';
}
#top, #cart-total {
	font-family: 'OpenSans-Regular';
	font-size: 15px!important;
}
a:focus, a:hover {
    color: #940000;
    text-decoration: underline;
}
.btn.active {
	border-color: transparent !important;
}
/*------------------------------------------------------------------------
	4: Nav/Header styles
------------------------------------------------------------------------*/
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 10px 15px;
}
#top .container {
	padding: 0 70px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
	display: inline-block;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
    line-height: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
header{
	padding:20px 0;
}
#logo{
	margin-bottom:10px;
}
.mini-nav {
    margin: 5px auto 0;
    width: 100%;
}
.top-inner .container {
	padding: 0 !important;
}
.mini-nav li {
	display: inline-block;
	font-size: 16px;
	border-right: 0!important;
}
.account-module {
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
}
.account-module.inline-top li {
	display: inline-block;
	margin-top: 10px;
}
.account-module{
	margin:0 auto;
}
.panel-default>.panel-heading {
    color: #940000;
		font-size: 15px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-bottom: 2px solid #940000;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #FFFFFF;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 16px;
}
.overlayguideline{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	opacity:0.6;
	z-index:100;

}
/* NOTE: See media queries at the bottom of stylesheet
   for more classes related to the top-section */
/* Check media queries section to
   find more on contact-center */
.contact-center {
	display: none;
}
/* logo */

/* search */
#search {
	width: 100%!important;
	margin-bottom: 10px;
	background-color: #ebebeb;
	padding: 15px;
	border-radius: 6px;
}
#search input[type=text] {
	background-color: #FFFFFF!important;
}
#search .input-lg {
	height: 30.8px;
	line-height: 20px;
	padding: 0 10px;
	border: 0;
	border-radius: 6px;
}
#search .search-btn {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 18px;
	padding: 6px 14px;
	background-color: #940000!important;
	border-radius: 9px;
	margin-left: 5px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
div#collapse-shipping{
	display:block;
}
}
#collapse-shipping .control-label{
	width:130px;
}
#cart {
	width: 100%;
	background-color: #ebebee!important;
	margin: 0 0 10px 0;
}
#cart > .btn {
	height: 46px;
	font-size: 12px;
	line-height: 18px;
	color: #4d4d4d;
	border: 0;
}
.cart-btn button {
	border: 0!important;
}
.open > .dropdown-menu {
	transition: all 300ms ease-in-out;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
.contact-center {
}
#cart .cartlink{
	padding:0 10px 0 0;
}
/* menu */
.account-module li {
    display: inline-block;
}
#menu {
	background-color: #4d4d4d;
	background-repeat: repeat-x;
	border-color: #4d4d4d;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	font-size: 17px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
	max-width: 1200px;
	width:100%;
}
#menu .dropdown-inner {
	display: table;
}
.has-menu {
	float: left;
}
.navbar-nav>li:nth-child(6) .dropdown-menu {
	/*display: block;*/
}
#menu .dropdown-inner ul {
	display: block;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 10px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner .sub-menu-in-block li {
    padding-left: 7px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF !important;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #4d4d4d;
	background-repeat: repeat-x;
}
#menu .btn-navbar:focus {
	outline: 0;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #4d4d4d;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border:0;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: 2px solid #eee;
	margin-bottom: 50px;
	font-size: 18px;
	font-weight: bold;
	clear:both;
}
.nav-tabs>li.active a {
	color: #940000;
}
#menu .has-menu a:first-child {
	text-transform: uppercase;
}
#menu .sub-menu-in-block a {
	color: #000 !important;
	font-family: 'OpenSans-Regular', sans-serif;
	text-transform: none !important;
}
.tab-content>.active {
    display: block;
	margin-bottom: 30px;
	padding: 20px;
	font-size: 16px;
	line-height: 22px;
	border:0;
}
#tab-description {
	padding: 15px 0;
}
.mini-nav ul {
    text-align: center;
    width: 100%;
}
.account-module ul{
	text-align:center;
	margin:0 auto;
}
.nav-tabs li a{
	padding:10px 0;
}
/* content */
.footer-container {
	margin: 0 auto;
}
#content {
	min-height: 600px;
}
#content h1 {
	font-weight: bold;
	margin: 15px 0 25px 0;
}
#content h2 {
	color: #940000;
	font-weight: bold;
	margin: 15px 0 10px 0;
	line-height: 30px;
}
#content.col-sm-12, 
#content .col-sm-12 .col-sm-12{
    padding: 0;
}
/* footer */
.common-home .footer-line {
	display: none;
}
footer {
	margin-top: 5px;
	padding: 30px 0;
	background-color: #FFFFFF;
	color: #940000;
	overflow: hidden;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #940000;
	transition: all 0.3s ease;
}
footer h5 {
	text-transform: uppercase;
	font-family: 'OpenSans-Semibold'!important;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 10px;
}
footer .list-unstyled a {
	transition: all 0.5s ease;
	font-size: 14px;
}
footer .list-unstyled li {
	line-height: 18px;
}
 .mini-footer {
	width: 100%;
	background-color: #940000;
	z-index: 2;
}
.scroll-adjust {
	height: 43px;
}
.scroll-adjust h5 {
	font-size: 14px!important;
	line-height: 45px!important;
	transition: all 0.7s ease;
}
.mini-footer h5 {
	font-size: 12px;
	color: #FFFFFF;
	line-height: 38px;
}
.social-icon img {
	width: 40px;
	margin: 10px 5px 0 0;
}
.social-icon img:hover {
	cursor: pointer;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
	margin-bottom: 30px;
}
.alert-success{
	display:none;
}
/* Pulled from defualt Bootstrap CSS */
.alert-info {
    height: 10%;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 10px 0;
	padding: 8px 0;
	background-color: transparent!important;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 11px;
	position: relative;
	white-space: normal;
}
.breadcrumb > li:first-child{
	padding:0 11px 0 0;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: -8px;
    width: 11px;
    height: 1px;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	/*border: 1px solid #cccccc;*/
	border-radius: 4px;
	/*box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);*/
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	background: #e7e7e7;
	border: 0;
}
.qty-field {
	width: 30px!important;
	height: 36px;
	text-align: center;
	border-radius: 0;
}
.btn:focus {
	outline: 0;
}
header .btn:focus {
	outline: 0;
}
.btn-primary {
	color: #ffffff;
	line-height: 2;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #940000;
	border-radius: 0;
	border: 0;
}
.btn-primary:hover {
	color: #fff;
	background-color: #940000;
	border-color: #940000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #940000;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #940000!important;
	background-position: 0 0!important;
}
.btn-continue {
	width: 100%;
}
.btn-warning {
	color: #ffffff;
	background-color: #faa732;
	background-repeat: repeat-x;
	border: 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	height: 42px;
	color: #ffffff;
	background-repeat: repeat-x;
	background-color: #940000!important;
	background-repeat: repeat-x;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	background-color: #df5c39;
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
	border: 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.common-home .list-group a,
.sub-cat-block {
	color: #565555;
	font-weight: bold !important;
	text-transform: uppercase;
	border: 0;
	padding: 10px;
	background: #f5f5f5;
	border-radius: 0 !important;
	height: 75px;
	line-height: 24px;
}
.sub-cat-block {
	font-size: 16px;
}
.list-group a.active, .list-group a.active:hover {
	color: #444444;
	background-color: #FFFFFF;
	border: 0;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	width: 100%!important;
	max-height: 340px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	border: 3px solid #ddd;
	margin: 0 0 20px 0;
	overflow: hidden;
	transition: all 0.9s ease!important;
}
.product-thumb .quantity {
	font-size: 14px;
}
.product-thumb:hover {
	cursor: pointer;
	opacity: 0.6!important;
}
.cat-section {
	width: 100%;
	float: none;
	margin: 0 auto;
	margin-right: 0px;
}
.filter-options {
	width: 19%;
	padding: 8px;
	border: 2px solid #ddd;
	float: left;
	margin: 0 0 0 0;
	/* Hidden for now until filters get sorted */
	display: none
}
.filter-options h4 {
	border-bottom: 3px solid #940000;
}
#column-left {
	margin-top: 83px;
}
#column-left .panel-default {
	border: 3px solid #eee;
}
#column-left #filter-group1 {
	padding-left: 10px;
}
#column-left .filter-options {
    width: 100%;
}
.input-module {
	width: 150px;
	margin: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
	max-height: 190px;
}
.product-layout.product-grid {
	padding: 5px;
	padding-top: 0;
}
.product-grid .product-thumb .image {
	float: none;
	height: 190px;
	margin-bottom: 10px;
}
.product-thumb h4 a {
	font-weight: bold;
	color: #940000;
	font-size: 16px;
}
.product-thumb h4 {
	margin-bottom: 10px;
}
.product-thumb .caption {
	text-align: center;
	padding: 0 20px;
	min-height: 200px;
	max-height: 250px;
	margin: 0 0 20px 0;
}
.product-list .product-thumb .caption {
	margin-left: 0;
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.item-to-order-block {
	border: 3px solid #EEE;
	padding: 10px;
}
.item-to-order-block img {
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}
.item-to-order-block h3 {
	font-size: 18px;
	color: #940000;
	padding-top: 10px;
}
.item-to-order-block p {
	clear: both;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #8a8a8a;
	font-size: 16px;
	font-family: 'OpenSans-Light';
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old p {
	color: #4d4d4d;
	text-decoration: line-through;
	font-weight: normal;
	margin-left: 10px;
}
.product-thumb .price-tax p {
	color: #4d4d4d;
	font-size: 16px;
	font-weight: normal;
	display: block;
}
.product-thumb .button-group {
	/* Uncomment and remove display property to view */
	/*border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;*/
	display: none;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
.thumbnails {
	overflow: auto;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}
.product-info {
	margin: 0 0 0 50px;
	padding-top: 10px;
	position: relative;
	font-weight: bold;
}
.product-info span {
	font-weight: bold;
	font-size: 18px;
}
.product-info h1 {
	margin-bottom: 45px;
}
.product-price {
    margin: 0 auto;
    font-size: 3em;
    color: #940000!important;
    font-weight: bold;
    position: absolute;
    right: 0px;
    right: 50px;
    top: 15px;
}
.product-price small {
	font-size: 12px;
}
.product-price h2 {
	color: #940000;
}
.price-module {
	margin: 40px 45px 0 0;
	z-index: 2;
}
.information ol li {
    font-size: 16px;
    list-style: disc;
    margin: 0 0 0 20px;
}
.information-contact .col-sm-10{
	padding-left:0;
	float:none;
}
.information-contact .form-horizontal .control-label{
	text-align:left;
	padding:0;
	margin-bottom:10px;
	width: 100%;
}
.information-contact .form-horizontal .form-group{
	margin:20px 0;
}
.information-contact .pull-right{
	float:left !important;
}
.information-contact #content .form-group .form-control {
    width: 100%;
}
.information-contact #content .buttons .btn {
    width: 100%;
}
.information-information #content > h2 {
    word-break: break-all;
}
.product-preview {
    height: 200px;
    overflow: hidden;
}
.overstock-quantity.show-me {
	display: inline-block !important;
	width: 60%;
}
.item-to-order-block.show-me {
	display: block !important;
}
@media screen and (min-width: 577px) and (max-width: 1200px) {
	.price-module {
	    width: 220px;
	    display: block;
	    float: right!important;
			margin: 0 -40px 0 0;
	}
}
@media screen and (min-width: 577px) and (max-width: 612px) {
	.price-module {
			width: 220px;
			display: block;
			float: right!important;
	}
}
.product-disc {
	width: 200px;
	margin-left: 0;
}
/*.quantity-module {
	width: 230px;
	float: right;
	position: absolute;
	top: 80px;
	right: 0;
}*/
.qty-module {
	margin-top: 0;
	display: block;
	margin: 0 auto;
	margin-top: -15px;
}
.tab-section {
	width: 100%;
	position: relative;
	right: 0px;
}
.info-box {
	padding: 13px;
	border: 3px solid #eee!important;
}
.to-order img {
	width: 70px;
	float: right;
	margin: 0 0 10px 0;
}
#product-align {
	margin-top: -100px;
}
/* Ben's work on the product page */
.product-container h1 {
	float: left;
  font-size: 20px;
	padding: 20px 0;
	font-weight: bold;
}
.price-block {
	float: right;
	text-align: right;
	color: #940000;
	position: relative;
}
.product-container .row {
	clear: both;
}
.productmeta li {
    text-align: center;
}
.price-block .mainprice {
	font-size: 32px;
	padding: 20px 0 10px;
	font-weight: bold;
	color: #940000;
}
.product-container .list-unstyled li {
	font-size: 14px;
	line-height: 26px;
}

.product-container .list-unstyled li strong {
	font-weight: bold;
}
.cart-section {
	clear: right;
	float: right;
	width: 30%;
	margin-top: 50px;
}
.list-unstyled {
    list-style: none;
}
.options-block .control-label {
    color: #940000;
    font-weight: bold;
}
/* TABLET AND ABOVE VIEWPORT */
@media screen and (min-width: 720px) and (max-width: 1200px) {
	.cart-section {
		clear: right;
		float: right;
		margin-top: 30px;
		width: 50%;
		margin-bottom: 60px;
	}
.options-block {
	width: 50%;
	float: right;
}
	.options-block {
		padding: 20px 0 0;
	}
	.form-group {
		margin-top: 20px;
	}
}
#button-cart {
	font-size: 24px;
	font-family: 'OpenSans-Bold';
	width: 100%;
	position: relative;
	top: -10px;
}
.cart-section label {
	float: left;
	font-size: 24px;
	position: relative;
	top:5px;
	width: 87%;
	margin-top: 0;
}
.guidelinestock{
    display: none;
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    max-width:700px;
    background: #fff;
    font-size: 16px;
    z-index: 10000;
    padding: 20px;
    border-radius: 10px;
}
.guideclose {
    position: absolute;
    top: -20px;
    right: -20px;
    background: #940000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 49px;
    cursor:pointer;
}
.guidelinestock.active{
	display:block;
}
.options-block select {
	font-size: 18px;
}
.productmeta .guideline:hover strong{
	color:#940000;
	cursor:pointer;
}
#input-quantity {
	width: 100%;
	font-size: 18px;
	text-align: center;
	position: relative;
	top: 10px;
	float: left;
	margin-bottom: 30px;
}
.order-img {
	margin: 0 auto;
    margin-top: 15px;
    display: block;
    cursor: pointer;
}
.productmeta{
	margin-top:20px;
}
footer .col-sm-2, footer .col-sm-3{
	margin-bottom:20px;
}
footer .col-sm-2 {
	clear: both;
}
.side-by-side {
	margin-bottom: 20px;
}
.side-by-side li {
	float: none;
}
.footer-contact {
	color: #4d4d4d;
	font-size: 14px;
	line-height: 18px;
}
/* Ben's edits
*  to be moved back into the others later when its condensed. 
*/
#column-left {
	margin-top: 0;
}
.column-left-main {
	border: 3px solid #eee;
	border-radius: 4px;
	margin: 10px 0px;
	padding: 5px;
}
.column-left-main .form-control {
    width: 100%;
}
#column-left .panel-default {
	border: 0 !important;
}
.cat-heading {
	color: #940000;
	font-weight: bold;
	margin-bottom: 30px;
}
.pagination {
	font-size: 16px;
}
.pagination .col-sm-6 {
	padding: 0;
}
.pagination .results {
    margin-bottom: 20px;
}
.column-left-main .panel-heading {
	color: #940000;
	font-size: 18px;
	text-align: left;
	padding-left: 0;
	border-bottom: 3px solid;
	width: 100%;
	margin-bottom: 10px;
}
.control-label {
	width: 30%;
	margin: 15px 0;
	font-size: 16px;
	float: left;
	text-align:left;
}
#accordion .panel .control-label {
    margin: 0;
    margin-top: 12px;
    font-size: 12px;
}
#accordion .panel .control-label[for="input-payment-zone"],
#accordion .panel .control-label[for="input-payment-country"] {
	width: 100%;
	margin-bottom: 10px;
}
#accordion .panel textarea {
    width: 100%;
}
#accordion .panel .btn {
    clear: left;
    width: 100%;
}
#accordion .panel input[name=agree] {
    margin-bottom: 10px;
}
.options-block .control-label {
	width: 100%;
	margin-bottom: 5px;
}
a.list-group-item {
	padding-left: 0;
	font-size: 16px;
	font-weight: normal;.
	text-transform: capitalize !important;
	margin: 20px 0 0px;
}
#column-right a.list-group-item {
	padding-left: 15px;
}
.table {
	font-size: 16px;
}
.table .btn {
	padding: 9px 12px;
}
#d_quickcheckout a {
  color: #940000 !important;
}
#d_quickcheckout .btn-primary,
#d_quickcheckout .btn-danger {
  background: #940000 !important;
  border: 1px solid #7B0000 !important;
}
.related {
	padding-top: 30px;
}
#collapse-shipping .form-horizontal {
	width: 50%;
	float: left;
}
#collapse-shipping .item-to-order-block {
	float: right;
	width: 50%;
}
#d_quickcheckout input[type=checkbox], #d_quickcheckout input[type=radio]{
	float:right;
}
#d_quickcheckout .form-horizontal .control-label{
	text-align:left !important;
	margin:0 !important;
	width:auto;
}
/*------------------------------------------------------------------------
	5: MEDIA QUERIES, ALL CODE THAT DEALS WITH VIEWPORT'S GOES BELOW!
	NOTE: importants are used for some properties to overite bootstrap style
------------------------------------------------------------------------*/
/* Ben's Media Queries 
*  to be moved back into the others later when its condensed. 
*/
@media screen and (min-width: 540px) {
.mini-nav {
	float: left;
	width: 45%;
}
.account-module {
	float: left;
	clear: left;
}
}
@media screen and (min-width: 768px) {
.order-img {
	margin: 0;
}
.thumbnails > li{
	margin-left:0;
}
.product-container .list-unstyled li {
	text-align: left;
}
.cart-section label {
	top: 20px;
}
#input-quantity {
	width: 13%;
}
ul.list-unstyled .sub-menu-in-block:first-child li{
	text-transform:uppercase;
}
#collapse-shipping .col-sm-10{
	width:81%;
}
.common-home .list-group .col-grid{
	width:24%;
}
.form-horizontal .control-label{
	padding-top:0;
	margin-right:20px;
}
.form-horizontal .form-group{
	margin:0;
}
#accordion .panel .control-label{
	text-align:left;
}

.options-block.col-sm-7 {
    width: 100%;
    float: left;
    padding-top: 0;
}
.options-block .form-group, 
.options-block .form-group select {
	margin-bottom: 0;
}
.form-group.cart-section {
	margin-top: 5px!important;
    width: 100%;
    margin: 0;
}
.row div#content.col-sm-8{
	width:65%;
	float:right;
}
ul.list-unstyled.price-block small {
    float: right;
}
#cart{
	margin: 0 0 10px 10px;
}
.dropdown-inner li:hover{
	background: none !important;
}
.account-module {
	padding-left: 0 !important;
}
.pagination {
	float: right;
	width: 100%;
}
.pagination>li{
	display:inline-block;
}
.pagination .col-sm-6.pagin{
	text-align:right;
}
.pagination .col-sm-6.results{
	text-align:left;
}
.col-sm-6.pagin {
	float: right !important;
	width: 29%;
}
.product-search .col-md-9 {
	padding: 0;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background: #fff;
	border: 0;
	color: #940000;
	font-weight: bold;
}
.pagination>li>a, 
.pagination>li>span {
	color: #000;
	border: 0;
	padding: 0px 10px;
}
.column-left-main {
	overflow: hidden;
	margin: 0 10px 20px 0;
	width:23%;
}
.cat-limit {
	clear: both;
}
#cart .glyphicon {
	display: none;
}
footer .col-sm-2 {
	clear: none;
}
.nav>li{
	position:static;
}
.navbar-nav{
	position:relative;
}
#menu .dropdown-inner ul{
	display:inline-block;
	vertical-align:top;
}
ul.list-unstyled li a {
    color: #940000 !important;
}
#contact_form {
    margin-left: 15px;
}
#contact_form input {
	width: 185px;
}
#contact_form textarea {
	margin-top: 4px;
}
#contact_form input[id="submit_button"] {
    width: 100%;
}
.column-left-main .control-label {
    width: 100%;
    text-align: left;
    padding-left: 2px;
}
/*iPad checkout*/
#accordion .panel .col-sm-6 {
    padding: 1%;
    min-height: 313px;
}
#accordion .panel #button-account,
#accordion .panel #button-login {
	width: 96%;
	position: absolute;
	bottom: 0;
}
#accordion .panel .btn {
	width: 50%;
	float: right;
}
#accordion .panel .buttons .pull-right .btn {
	float: none;
	width: 100%;
}
/*Checkout iPad*/
.checkout-cart #accordion .panel #button-quote {
	margin-top: 10px;
	width: 100%;
}
.checkout-cart #accordion .panel .form-group {
	clear: both;
	overflow: hidden;
}
.checkout-cart #accordion .panel .form-group.required select,
.checkout-cart #accordion .panel .form-group.required input {
    width: 100%;
}
/*iPad Contact Us*/
.information-contact .form-horizontal .control-label {
	width: 20%;
	margin-right: 0;
}
.information-contact .col-sm-10 {
	float: left;
	width: 80%;
}
}
@media screen and (min-width: 1000px) {
.mini-nav {
	padding-left: 0;
}
.account-module ul{
	text-align:right;
}
.account-module {
	float: right;
	margin-top: -35px !important;
}
.contact-center {
	display: block;
	text-align: center;
}
.hidden-md {
	display: inline-block !important;
}
#cart {
	float: right;
}
.side-by-side li {
	float: left;
	width: 50%;
}
}
@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
	#cart .glyphicon {
		display: block;
	}
	#cart-total {
		position: relative;
		left: 20px;
		top: -3px;
	}
	button .glyphicon{
		top:8px;
		left:22px;;
	}
	.nav-tabs>li.active a{
		padding:10px 0;
	}
	.tab-content>#tab-description{
		padding:15px 0;
	}
}
/* Desktop view */
/* Commented out for a later date */
/*@media screen and (min-width: 1200px) {
	.filter-options {
	padding: 15px;
	border: 2px solid #ddd;
	float: left;
	margin: 0 0 0 0;
	/* Temporarily hides filter-options */
/*	display: none;
}
.filter-options h4 {
	border-bottom: 3px solid #940000;
}*/
.input-module {
	width: 180px;
	margin: auto;
}
}
.info-box {
	padding: 13px;
	border: 3px solid #eee!important;
}
.info-box h3 {
	font-size: 16px;
	color: #940000;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 38px;
}
.info-box img {
	width: 43px;
	float: left;
	padding-right: 5px;
}
.info-box p {
	font-weight: lighter;
	font-size: 16px;
}
@media screen and (min-width: 170px) and (max-width: 550px) {
	.info-box {
	width: 98%;
	padding: 13px;
	border: 3px solid #eee;
	margin: 0px 0 0 0px;
	float: left;
}
}
@media screen and (min-width: 1200px) {
/*.form-group.cart-section{
	margin-top:87px;
}*/
.order-img {
	float: left;
}
#top{
	padding: 0;
}
header .col-sm-5{
	margin-left:42px !important;
}
.container{
	width:100%;
	max-width:1200px;
}
.form-horizontal .form-group{
	margin:20px 0;
}
.form-group.required{
	clear:both;
}
.form-horizontal .control-label{
	text-align:left;
}
	.product-info {
	margin: 0 0 0 50px;
	padding-top: 10px;
	position: relative;
	font-weight: bold;
}
.product-info span {
	font-weight: bold;
	font-size: 18px;
}
.productmeta{
	width: 33%;
	float:left;
}
.product-info h1 {
	margin-bottom: 45px;
}
.product-price {
    margin: 0 auto;
    font-size: 3em;
    color: #940000!important;
    position: absolute;
    right: 50px;
    top: -34px;
}
.product-price small {
	font-size: 12px;
}
.product-disc {
	width: 50%;
	margin-left: 315px;
}
/*.quantity-module {
	width: 230px;
	float: right;
	position: absolute;
	top: 80px;
	right: 0;
}*/
.qty-module {
	position: relative;
	top: 130px;
	top: 10px;
    right: 30px;
}
.tab-section {
	width: 80%;
	position: relative;
	top: -150px;
	right: -300px;
}
.to-order img {
	width: 80px;
	float: right;
	margin-top: -32px;
	margin-right: -27px;
}
.price-header {
	position: relative;
	top: -115px;
	font-weight: bold;
	color: #940000;
}
#product-align {
	margin-top: -100px;
}
.info-box {
	width: 280px;
	padding: 13px;
	border: 3px solid #eee;
}
.info-box h3 {
	font-size: 16px;
	color: #940000;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 38px;
}
.info-box img {
	width: 43px;
	float: left;
	padding-right: 5px;
}
.info-box p {
	font-weight: lighter;
	font-size: 16px;
}
.row.related {
	padding: 40px 0;
}
#content .row > .col-sm-12 {
    margin-top: 40px;
}
#accordion .panel #button-account, 
#accordion .panel #button-login {
	right: 10px;
	width: 50%;
}
.btn-continue {
	width: 20%;
}
.checkout-cart #accordion .panel .col-sm-10 {
	width: 88%;
}
.checkout-cart #accordion .panel #button-quote {
	width: 50%;
}
.information-contact #content .buttons .btn {
	float: right;
	width: 25%;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
	padding:0 0 0 10px;
}
.col-sm-9 {
    width: 76.1%;
}
}
@media screen and (min-width: 992) and (max-width: 1200px) {
	.product-disc {
	width: 50%;
	margin-left: 315px;
}
}
@media (min-width: 992px) and (max-width: 1200px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
.pro-options {
    height: 400px;
    display: block;
    overflow: scroll;
		overflow-x: hidden;
}
}
@media screen and (max-width: 990px) {
.pro-options {
	display: block;
	position: static!important;
}
}
/* Portable devies view */
@media screen and (min-width: 170px) and (max-width: 1000px) {
	.filter-options {
	width: 100%;
	padding: 8px;
	border: 2px solid #ddd;
	margin: 0 0 50px 0;
}
.filter-options h4 {
	border-bottom: 2px solid #940000;
}
.input-module {
	width: 150px;
	margin: auto;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media screen and (min-width: 580px) and (max-width: 1200px) {
.product-options {
	position: absolute;
	top: 68px;
	left: 300px;
}
}
@media screen and (max-width: 577px) {
.product-price {
	right: 0;
	left: 0;
	top: 63px!important;
	top: 35px!important;
	text-align: center
}
.product-title {
	margin: 0 0 73px 0;
}
}
@media screen and (min-width: 577px) and (max-width: 612px) {
	.price-module {
		width: 180px;
		display: block;
		float: right!important;
		margin-right: 50px;
}
	.product-options {
	    display: block;
	}
}
@media screen and (min-width: 578px) and (max-width: 991px) {
.product-options {
	position: absolute;
	top: 267px;
	left: 300px;
}
}
/* fixed colum left + content + right*/
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px !important;
	}
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }
	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}
@media screen and (max-width: 1200px) {
	.amount {
    float: left;
    line-height: 30px;
    padding: 0 5px 0 0;
		margin-top: 30px;
}
}
@media screen and (min-width: 321px) and (max-width: 538px) {
	.mini-qty {
    float: left;
    line-height: 30px;
    padding: 0 5px 0 0;
		margin: 20px 0 0 0;
}
.amount {
	float: left;
	line-height: 30px;
	padding: 0 5px 0 0;
	margin: 24px 0 0 0;
}
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
	#cart .table .text-left small {
    	display: none;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}
@media screen and (min-width: 1000px) {
	.cat-section {
    width: 74%;
    float: right;
}
	.product-thumb {
	width: 90%;
	max-height: 340px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	border: 2.5px solid #ddd;
	margin: 0 0 20px 0;
	overflow: hidden;
}
.product-thumb:hover {
	cursor: pointer;
}
}
@media (min-width: 768px) {
.navbar-collapse.collapse {
	display: block!important;
	max-width: 1200px;
	height: auto!important;
	padding-bottom: 0;
	overflow: visible!important;
	margin: 0 auto !important;
	transition: all 0.5s ease;
}
	.overlay{
		display:none;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: #000;
		opacity:0.6;
		z-index:4;

	}

/*	.overlay.active{
		opacity:0.6;
		display:block;
	}	*/
	.navbar{
		z-index:5;
	}
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
@media screen and (min-width: 520px) and (max-width: 1000px) {
.contact-center {
	width: 230px;
	display: block;
	float: right;
}
.contact-center li {
	float: left;
	padding: 0 0 8px 15px;
}

.hidden-sm {
    display: block!important;
    position: relative;
    top: -20px;
    left: 22px;
}
.contact-center .glyphicon {
	font-size: 12px;
	float: left;
}
}
@media screen and (min-width: 550px) {
	.align-class {
		float: right;
	}
	.account-module.inline-top li {
    	display: inline-block;
    	margin-top: 20px;
	}

}
@media screen and (max-width: 550px) {
	.align-class {
		width: 200px;
		display: block;
		margin: 0 auto;
		float: none;
	}
}
@media screen and (min-width: 300px) {
/* search */
#search {
	/* width changed 80% */
	width: 80%;
	margin-bottom: 10px;
	background-color: #ebebeb;
	padding: 8px;
	border-radius: 6px;
}
.contact-center li {
	display: inline-block;
	font-size: 18px;
	margin-left: 30px;
	border: 0;
}
.contact-center span img {
	width: 18px;
	position: relative;
	top: 3px;
	left: -5px;
}
.contact-center li {
	display: inline-block;
	font-size: 18px;
	margin-left: 0px;
	margin-top: 5px;
	height: 30px;
}
.contact-num {
	width: 100px;
	margin-left: -400px;
}
}
@media screen and (min-width: 1001px) {
	/* Classes for header on bigger viewport's */
	#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 5px 15px
}
.mini-nav {
	width: 255px;
    margin: 0 auto;
}
.mini-nav li {
	display: inline-block;
	font-size: 16px;
	border-right: 0!important;
}
.account-module {
	width: 150px;
	font-size: 16px;
	list-style: none;
	padding-left: 2px;
	position: absolute;
	right: 30px;
}
.account-module li {
	display: inline-block;
}
.inline-top {
	margin-top: -20px;
}
#search {
	height: 40px;
	margin-bottom: 10px;
	background-color: #ebebeb;
	padding: 8px;
	border-radius: 6px;
}
header .col-sm-5{
	margin-left:30px;
}
header .col-sm-3 {
    width: 21%;
    float: right;
}
#cart {
	width: 84%;
	width: 78%;
	background-color: #ebebee!important;
	margin-bottom: 10px;
}
.contact-size {
    position: absolute;
    top: 0;
    right: 0!important;
}
.contact-center li {
	display: inline-block;
	font-size: 18px;
	padding-right: 15px;
	margin-left: 30px;
	border: 0;
}
.contact-center li {
	display: inline-block;
	font-size: 18px;
	margin-left: 5px;
}
/*footer .col-sm-2, footer .col-sm-3{
	width:24%;
}*/
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
.contact-banner .textarea-pull {
    margin: -167px 0 0 200px;
}
}
@media screen and (min-width: 1200px) {
.contact-center {
	width: 445px;
	margin: 0 auto;
	display: block!important;
	margin-top: -3px;
}
#product .options-block.col-sm-7 {
    width:66%;
    clear:left;
    float: left;
    margin-bottom: 20px;
}
/*.form-group.cart-section.cartnooption{
	margin-top:-160px;
}
.form-group.cart-section{
	margin-top:-245px;
}*/
.cart-section label,
.cart-section #input-quantity {
	width: 25%;
}
.product-container h1{
	margin: 0 0 30px 0;
}
.form-group.cart-section {
	width: 30%;
	float: right;
	margin-top: 30px!important;
}
.form-group.cart-section #button-cart {
	height: 42px;
	line-height: 0;
	position: static;
	width: 232px;
}
.navbar-nav {
	width: 100%;
}
.navbar-nav>li {
	float: left;
	margin: 0 1%;
}
.account-module {
	margin-top: -36px!important;
}
.account-module span {
	opacity: 1!important;
}
.top-inner {
	margin: 0 auto;
	position: relative;
	top: 8px;
}
.contact-banner {
	background-color: #ebebeb;
	padding: 40px 0;
}
.contact-banner form {
	margin-left: 84px;
}
.contact-banner input[type=text] {
	width: 180px;
	height: 35px;
	padding: 0 0 0 8px;
	border: 0;
}
.contact-banner textarea {
	height: 90px;
	border: 0;
	resize: none;
	margin-bottom: 15px;
}
.contact-banner input[type=submit] {
	width: 202px;
	height: 35px;
	background-color: #940000;
	color: #FFFFFF;
	font-size: 16px;
	border: 0;
	transition: all 0.5s ease;
  	/* For older browsers */
  transition: all 1s linear .2s; /* IE 10, Fx 16+, Op 12.1+ */
}
.contact-banner input[type=text]:focus,
 input[type=submit]:focus,
  textarea:focus,   {
	outline: 0;
}
.contact-banner input[type=submit]:hover {
	cursor: pointer;
	opacity: 0.8;
}
.contact-banner label {
	display: none;
}
.order-img{
	margin-right:15px;
}
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
	.top-inner {
	margin: 0 auto;
	position: relative;
	top: 10px;
	}
	.account-module {
		margin-top: -20px;
	}
}
@media screen and (min-width: 700px) {
.col-grid {
	float: left;
	text-align: center;
	margin: 0 0 10px 10px;
	transition: all 0.9s ease;
	width: 23%;
}
.col-grid:hover {
	cursor: pointer;
	opacity: 0.6;
}
.common-home .list-group .col-grid {
	float: left;
	width: 19%;
}
}
@media screen and (min-width: 500px) and (max-width: 700px) {
	.col-grid {
	width: 200px;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
}
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
	button .glyphicon {
	font-size: 15px!important;
	color: #940000;
	position: absolute;
	top: 14px;
	left: 2px;
}
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
	#menu .nav > li > a {
		font-size: 18px !important;
	}
	#menu .menu-3 {
		display: block !important;
	}
	.product-search #content {
		margin: 0;
		margin-top: 25px;
	}
	.product-search #content h2 {
		margin-bottom: 20px;
	}
	.common-home .list-group .col-grid{
		width:23%;
	}
}
@media (max-width: 767px) {
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
	#menu .dropdown-menu .has-menu {
		float: none;
	}
	#menu .sub-menu-in-block a {
		color: #FFF!important;
		padding-left: 3%;
	}
}
@media screen and (min-width: 170px) and (max-width: 500px) {
	.col-grid {
	width: 200px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
}
@media screen and (max-width: 768px) {
	.thumbnails {
		margin: 0 auto;
	}
}
@media screen and (min-width: 175px) and (max-width: 1000px){
.account-module {
	font-size: 16px;
	list-style: none;
	padding-left: 2px;
	position: absolute;
	top: 23px;
	left: 38px;
}
.account-module span {
	opacity: 0;
}
}
@media screen and (min-width: 175px) and (max-width: 549px) {
.account-module {
    font-size: 16px;
    list-style: none;
    padding-left: 2px;
    position: absolute;
		top: 30px;
    left: 38px;
}
}
@media screen and (min-width: 170px) and (max-width: 600px) {
	.footer-container {
	margin: 0 auto;
}
}
#menu .nav > li > a {
	color: #fff;
	font-size: 21px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 8px 15px;
	min-height: 15px;
	background-color: transparent;
}
@media screen and (min-width: 170px) and (max-width: 1000px) {
.top-margin {
	margin: 50px 0 0 0;
	border-left: 0px solid #cccccc;
}
@media screen and (min-width: 170px) and (max-width: 595px) {
	.contact-banner .textarea-pull {
    margin: -10px 0 0 0;
}
}
@media screen and (min-width: 140px) and (max-width: 577px) {
	.price-module {
		width: 200px;
		display: block;
		float: none!important;
		margin: 0 auto;
}
}
.contact-num {
	width: 100px;
	margin-left: -400px;
}
@media screen and (min-width: 100px) and (max-width: 767px) {
	.cart-section {
		clear: right;
		float: none;
		margin-top: 30px;
		width: 90%;
		margin: 0 auto;
	}
	.form-group.cart-section{
		width:100%;
	}
.options-block {
	margin: 0 auto;
}
	.price-block {
			text-align: center;
			width: 100%;
	    color: #940000;
	    margin-top: 51px;
		  margin-right: 0;
	}
}
/* TABLET AND ABOVE VIEWPORT */
@media screen and (min-width: 720px) and (max-width: 1200px) {
	.cart-section {
		clear: right;
		float: right;
		margin-top: 30px;
		width: 50%;
		margin-bottom: 60px;
	}
.options-block {
	width: 50%;
	float: right;
}
	.options-block {
		padding: 20px 0 0;
	}
	.form-group {
		margin-top: 20px;
	}
}
/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}
/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
@media screen and (min-width:555px){
	.mini-nav{
		float:left;
		text-align:left;
	}
}
